<div id="<%= dom_id recipe %>">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipe.category %>
  </p>

  <p>
    <strong>Yield:</strong>
    <%= recipe.yield %>
  </p>

  <p>
    <strong>Directions:</strong>
    <%= recipe.directions %>
  </p>

</div>
